#container {
    display: flex;
    justify-content: space-around;
}

/*#playerDiv, #computerDiv {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
} */

.boardContainer {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
}

.board {
    border: 2px solid lightcoral;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.ship.player {
    background-color: olivedrab;
}

.hit {
    background-color: grey;
}

.miss {
    background-color: lightcoral;
}

#yard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 10px;
}

.hide, .hide > ul, .clicked {
   display: none; 
}

.shipParent {
    display: flex;
}
